Repository harsh-100/rust_dev, pull requests merged in 2023-01, with the labels that each got.

#8 ✨ web server with hello route
  web/rocket/1_hello_route/Cargo.lock
  web/rocket/1_hello_route/Cargo.toml
  web/rocket/1_hello_route/readme.md
  web/rocket/1_hello_route/src/main.rs
Labels: web, backend

#10 created a program to count vowel and consonants in a string
  core/5_find_vowels_and_consonants/src/main.rs
Labels: core

#11 ✨ create counter application in gtk
  gui/1_gtk_quickstart/Cargo.lock
  gui/1_gtk_quickstart/Cargo.toml
  gui/1_gtk_quickstart/readme.md
  gui/1_gtk_quickstart/src/main.rs
Labels: gtk, gui
